<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-role>
        <description>customer service employees</description>
        <role-name>service</role-name>
    </security-role>
    <security-role>
        <description>system administrators</description>
        <role-name>programmer</role-name>
    </security-role>
    <!-- Restrict access to all files in the /admin folder -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <!-- Authorize the programmer and service roles -->
        <auth-constraint>
            <role-name>programmer</role-name>
            <role-name>service</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Use form-based authentication -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/admin/login.jsp</form-login-page>
            <form-error-page>/admin/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>toba.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomerServlet</servlet-name>
        <servlet-class>toba.NewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <servlet-class>toba.PasswordChangeServlet</servlet-class>
    </servlet>
    <!--<servlet-mapping>
        <servlet-name>ReportsServlet</servlet-name>
        <url-pattern>/reports</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>UserTableSpreadsheetServlet</servlet-name>
        <servlet-class>toba.UserTableSpreadsheetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTableGZIPServlet</servlet-name>
        <servlet-class>toba.UserTableGZIPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomerServlet</servlet-name>
        <url-pattern>/join</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <url-pattern>/PasswordChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTableSpreadsheetServlet</servlet-name>
        <url-pattern>/UserTableSpreadsheetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTableGZIPServlet</servlet-name>
        <url-pattern>/UserTableGZIPServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_java.jsp</location>
    </error-page>
</web-app>
